# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Mathis <mbb@kaidan.im>
[Desktop Entry]
Name=powerplant
Name[ast]=powerplant
Name[be]=powerplant
Name[ca]=powerplant
Name[ca@valencia]=powerplant
Name[cs]=Powerplant
Name[en_GB]=powerplant
Name[eo]=powerplant
Name[es]=powerplant
Name[eu]=powerplant
Name[fi]=powerplant
Name[fr]=PowerPlant
Name[he]=powerplant
Name[hu]=PowerPlant
Name[ia]=PowerPlant (Energia per Plantas)
Name[it]=powerplant
Name[ka]=powerplant
Name[ko]=powerplant
Name[lv]=powerplant
Name[nl]=powerplant
Name[pl]=powerplant
Name[pt_BR]=powerplant
Name[ro]=powerplant
Name[sl]=powerplant
Name[tr]=PowerPlant
Name[uk]=powerplant
Name[x-test]=xxpowerplantxx
Name[zh_TW]=PowerPlant 植哉追蹤
Comment=powerplant Kirigami Application
Comment[be]=Праграма powerplant Kirigami
Comment[ca]=Aplicació de Kirigami «powerplant»
Comment[ca@valencia]=Aplicació de Kirigami «powerplant»
Comment[cs]=Aplikace Kirigami Powerplant
Comment[en_GB]=powerplant Kirigami Application
Comment[eo]=powerplant Kirigami-Aplikaĵo
Comment[es]=Aplicación Kirigami powerplant
Comment[eu]=powerplant Kirigami aplikazioa
Comment[fi]=powerplant-Kirigami-sovellus
Comment[fr]=Application PowerPlant sous Kirigami
Comment[he]=יישום Kirigami‏ בשם powerplant
Comment[hu]=PowerPlant Kirigami alkalmazás
Comment[ia]=Application de Kirigami powerplant
Comment[it]=Applicazione Kirigami powerplant
Comment[ka]=powerplant - Kirigami-ის აპლიკაცია
Comment[ko]=powerplant Kirigami 앱
Comment[lv]=„powerplant“ — „Kirigami“ programma
Comment[nl]=Kirigami-toepassing Powerplant
Comment[pl]=Powerplant - Aplikacja Kirigami
Comment[pt_BR]=Aplicativo Kirigami powerplant
Comment[ro]=Aplicație Kirigami powerplant
Comment[sl]=powerplant Kirigami aplikacija
Comment[tr]=PowerPlant Kirigami Uygulaması
Comment[uk]=Програма powerplant на основі Kirigami
Comment[x-test]=xxpowerplant Kirigami Applicationxx
Comment[zh_TW]=PowerPlant 植哉追蹤應用程式
Version=1.0
Exec=powerplant
Icon=org.kde.powerplant
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;Utility
