# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Mathis Brüchert <mbb@kaidan.im>
[Desktop Entry]
Name=Powerplant
Name[ar]=زرع
Name[ca]=Powerplant
Name[ca@valencia]=Powerplant
Name[cs]=Powerplant
Name[de]=PowerPlant
Name[eo]=Powerplant
Name[es]=Powerplant
Name[eu]=Powerplant
Name[fi]=Powerplant
Name[fr]=Powerplant
Name[gl]=Powerplant
Name[he]=Powerplant
Name[ia]=Powerplant (Energia per Plantas)
Name[it]=Powerplant
Name[ka]=Powerplant
Name[ko]=Powerplant
Name[lv]=Powerplant
Name[nl]=Powerplant
Name[pl]=Powerplant
Name[pt_BR]=Powerplant
Name[sa]=विद्युत् संयंत्र
Name[sl]=Powerplant
Name[sv]=Planteffekt
Name[tr]=PowerPlant
Name[uk]=Powerplant
Name[zh_CN]=Powerplant
Name[zh_TW]=PowerPlant 植哉追蹤
Comment=Keep your plants alive
Comment[ar]=اعتنِ بنباتاتك
Comment[ca]=Manté vives les vostres plantes
Comment[ca@valencia]=Manté vives les vostres plantes
Comment[cs]=Udržujte své rostliny naživu
Comment[de]=Pflanzen am Leben halten
Comment[eo]=Vivtenu viajn plantojn
Comment[es]=Mantenga vivas sus plantas
Comment[eu]=Zure landareak bizirik mantendu
Comment[fi]=Pidä kasvisi elossa
Comment[fr]=Conservez vos plantes en vie
Comment[gl]=Manteña con vida as súas plantas.
Comment[he]=לשמור על הצמחים שלך בחיים
Comment[ia]=Mantene tu plantas vive
Comment[it]=Mantieni vive le tue piante
Comment[ka]=შეინარჩუნეთ თქვენი მცენარეები ცოცხალ მდგომარეობაში
Comment[ko]=내 식물의 활기 유지하기
Comment[lv]=Neļauj saviem augiem nomirt
Comment[nl]=Houd uw planten in leven
Comment[pl]=Utrzymuj swoje rośliny przy życiu
Comment[pt_BR]=Mantenha suas plantas vivas
Comment[sa]=भवतः वनस्पतयः जीविताः कुर्वन्तु
Comment[sl]=Ohranja vaše rastline žive
Comment[sv]=Håll dina plantor vid liv
Comment[tr]=Bitkilerinizi canlı tutar
Comment[uk]=Підтримуйте життя у ваших рослинах
Comment[zh_CN]=保持你的植物生命力
Comment[zh_TW]=維持您的植哉的生命
Version=1.0
Exec=powerplant
Icon=org.kde.powerplant
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;Utility
